[Unit]
Description=Auris Pattern Aggregator Service
After=network.target

[Service]
Type=oneshot
User=retailiq-key
Group=retailiq-key
WorkingDirectory=/home/retailiq-key/auris-server
EnvironmentFile=/home/retailiq-key/auris-server/.env
ExecStart=/usr/bin/python3 /home/retailiq-key/auris-server/aggregator/pattern.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
